html {
  background: linear-gradient(to bottom, #003030, #000030);
  color: #fff;
  min-height: 100%;
  transition: all 0.5s;
}

body {
  font-family: 'Karla', sans-serif;
  letter-spacing: -0.04em;
  font-size: 20px;
}

header {
  max-width: 800px;
  padding: 20px;
  margin: 7% auto 0;
}

h1 {
 font-family: 'Karla', sans-serif; 
 letter-spacing: -0.05em;
 font-size: 4em;
 font-weight: 700;
 margin: 0.2em 0;
}

p {
  line-height: 1.6em;
  color: #ccd;
}

p.ingress {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

p strong {
  color: #fff;
}

a {
  color: #f0f4b8;
  text-decoration: none;
  border-bottom: 1px solid rgba(240, 244, 184, 0.5);
  transition: border 0.5s;
}

a:hover {
 border-bottom: 1px solid rgba(240, 244, 184, 1); 
}

footer {
  font-size: 0.9em;
  margin-top: 50px;
  width: 90%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {

  float: left;
  margin-right: 2.2em;
  margin-bottom: 1.2em;
  white-space: nowrap;
}

footer li i {
  margin-right: 0.4em;
  display: block;
}

h1 span {
  display: block;
}

@media (max-width: 600px) {
  html, body {
    padding: 10px;
  }

  footer li {
    display: block;
  }
}

.logo polyline, .logo line {
  stroke-width: 4px;
  transition: all 0.5s ease-in-out;
}

.logo:hover polyline, .logo:hover line {
  stroke-width: 10px;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto 0;
}
